In [2]:
import pandas as pd
import numpy as np

In [120]:
df = pd.read_excel("./fsdata/LG.xlsx", sheet_name=None)
df5 = df['Data_is'][df['Data_is'].iloc[:, 2].isin(['기본/희석주당순이익'])]

In [121]:
df5 = df5.drop(df5.index[1])

In [122]:
df5

,Unnamed: 0,"[D310000] Income statement, by function of expense - Consolidated financial statements (Unit: KRW)",Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,20200101-20201231,20190101-20191231,20180101-20181231,20170101-20171231,20160101-20161231,20150101-20151231,20140101-20141231,20130101-20131231,20120101-20121231,20110101-20111231,20100101-20101231,20090101-20091231
24,22.0,entity00120021_udf_IS_2017113141813626_udf_IS_...,기본/희석주당순이익,Basic/Diluted earnings (loss) per share,손익계산서 [abstract],주당이익(단위 : 원),계속영업과 중단영업,기본/희석주당순이익,8338,6143,10603,13630,6114,5371,NaN,5097000000,5336000000,NaN,NaN,NaN

In [33]:
import os
path = "./fsdata"
file_list = os.listdir(path)
file_list

['BNK금융지주.xlsx',
 'BYC.xlsx',
 'DB하이텍.xlsx',
 'DL.xlsx',
 'DSR.xlsx',
 'E1.xlsx',
 'ESR켄달스퀘어리츠.xlsx',
 'ES큐브.xlsx',
 'GS.xlsx',
 'GS건설.xlsx',
 'HDC.xlsx',
 'HDC현대산업개발.xlsx',
 'HJ중공업.xlsx',
 'JW생명과학.xlsx',
 'JW중외제약.xlsx',
 'JW홀딩스.xlsx',
 'KB오토시스.xlsx',
 'KD.xlsx',
 'KG동부제철.xlsx',
 'KG케미칼.xlsx',
 'KH 필룩스.xlsx',
 'KISCO홀딩스.xlsx',
 'KPX케미칼.xlsx',
 'KPX홀딩스.xlsx',
 'KR모터스.xlsx',
 'LF.xlsx',
 'LG.xlsx',
 'LG디스플레이.xlsx',
 'LG생활건강.xlsx',
 'LG에너지솔루션.xlsx',
 'LG유플러스.xlsx',
 'LG이노텍.xlsx',
 'LG전자.xlsx',
 'LG화학.xlsx',
 'LIG넥스원.xlsx',
 'LS.xlsx',
 'LS네트웍스.xlsx',
 'LX인터내셔널.xlsx',
 'MH에탄올.xlsx',
 'NAVER.xlsx',
 'NICE.xlsx',
 'OCI.xlsx',
 'S-Oil.xlsx',
 'SBI핀테크솔루션즈.xlsx',
 'SGC에너지.xlsx',
 'SG글로벌.xlsx',
 'SH에너지화학.xlsx',
 'SIMPAC.xlsx',
 'SK.xlsx',
 'SKC.xlsx',
 'SK가스.xlsx',
 'SK네트웍스.xlsx',
 'SK디앤디.xlsx',
 'SK리츠.xlsx',
 'SK이노베이션.xlsx',
 'SK케미칼.xlsx',
 'SK텔레콤.xlsx',
 'SNT모티브.xlsx',
 'SNT에너지.xlsx',
 'SNT중공업.xlsx',
 'SNT홀딩스.xlsx',
 'SPC삼립.xlsx',
 'STX.xlsx',
 'STX엔진.xlsx',
 'STX중공업.xlsx',
 'SUN&L.xlsx',
 'TCC스틸.xlsx',
 'WISCOM.xlsx',
 '가비아.xlsx',
 '가온미디어.xlsx',
 '가온전선.xlsx',
 '감성코퍼레이션.xlsx',
 '강남제비스코.xlsx',
 '강스템바이오텍.xlsx',
 '강원랜드.xlsx',
 '강원에너지.xlsx',
 '갤럭시아머니트리.xlsx',
 '갤럭시아에스엠.xlsx',
 '경농.xlsx',
 '경동나비엔.xlsx',
 '경동도시가스.xlsx',
 '경동인베스트.xlsx',
 '경동제약.xlsx',
 '경방.xlsx',
 '경인양행.xlsx',
 '경창산업.xlsx',
 '계양전기.xlsx',
 '고려신용정보.xlsx',
 '고려아연.xlsx',
 '고려제강.xlsx',
 '고바이오랩.xlsx',
 '골드앤에스.xlsx',
 '골드퍼시픽.xlsx',
 '골프존.xlsx',
 '골프존뉴딘홀딩스.xlsx',
 '샘표.xlsx',
 '샘표식품.xlsx',
 '서린바이오.xlsx',
 '서부T&D.xlsx',
 '서산.xlsx',
 '서연.xlsx',
 '서연이화.xlsx',
 '서연탑메탈.xlsx',
 '서울리거.xlsx',
 '서울바이오시스.xlsx',
 '서울반도체.xlsx',
 '서울옥션.xlsx',
 '서원인텍.xlsx',
 '서전기전.xlsx',
 '서진시스템.xlsx',
 '서플러스글로벌.xlsx',
 '서호전기.xlsx',
 '서흥.xlsx',
 '서희건설.xlsx',
 '석경에이티.xlsx',
 '선도전기.xlsx',
 '선익시스템.xlsx',
 '선진뷰티사이언스.xlsx',
 '성광벤드.xlsx',
 '성도이엔지.xlsx',
 '성문전자.xlsx',
 '성보화학.xlsx',
 '성신양회.xlsx',
 '성우테크론.xlsx',
 '성우하이텍.xlsx',
 '성창기업지주.xlsx',
 '성창오토텍.xlsx',
 '세경하이테크.xlsx',
 '세기상사.xlsx',
 '세동.xlsx',
 '세방.xlsx',
 '세방전지.xlsx',
 '세보엠이씨.xlsx',
 '세아베스틸.xlsx',
 '세아제강지주.xlsx',
 '세아특수강.xlsx',
 '세아홀딩스.xlsx',
 '세영디앤씨.xlsx',
 '세우글로벌.xlsx',
 '세운메디칼.xlsx',
 '세원이앤씨.xlsx',
 '세이브존I&C.xlsx',
 '세종공업.xlsx',
 '세종메디칼.xlsx',
 '세종텔레콤.xlsx',
 '세진중공업.xlsx',
 '세진티에스.xlsx',
 '세코닉스.xlsx',
 '세틀뱅크.xlsx',
 '센트랄모텍.xlsx',
 '센트럴인사이트.xlsx',
 '셀루메드.xlsx',
 '셀리버리.xlsx',
 '셀바스AI.xlsx',
 '셀바스헬스케어.xlsx',
 '셀트리온제약.xlsx',
 '셀트리온헬스케어.xlsx',
 '소프트센.xlsx',
 '손오공.xlsx',
 '솔고바이오.xlsx',
 '솔루스첨단소재.xlsx',
 '솔루에타.xlsx',
 '솔루엠.xlsx',
 '솔본.xlsx',
 '솔브레인.xlsx',
 '솔브레인홀딩스.xlsx',
 '솔트룩스.xlsx',
 '수산아이앤티.xlsx',
 '수산중공업.xlsx',
 '수성이노베이션.xlsx',
 '수젠텍.xlsx',
 '슈프리마.xlsx',
 '슈프리마아이디.xlsx',
 '슈프리마에이치큐.xlsx',
 '슈피겐코리아.xlsx',
 '스카이문스테크놀로지.xlsx',
 '스킨앤스킨.xlsx',
 '스타플렉스.xlsx',
 '스튜디오드래곤.xlsx',
 '스튜디오산타클로스.xlsx',
 '스페코.xlsx',
 '스포츠서울.xlsx',
 '시공테크.xlsx',
 '시그네틱스.xlsx',
 '시너지이노베이션.xlsx',
 '시노펙스.xlsx',
 '시디즈.xlsx',
 '시스웍.xlsx',
 '시큐브.xlsx',
 '시티랩스.xlsx',
 '신대양제지.xlsx',
 '신도기연.xlsx',
 '신도리코.xlsx',
 '신라교역.xlsx']

In [159]:
'보통주 기본주당순이익' in per_li

True

In [ ]:
           
#             if len(df5) > 1:
#                 df5 = df['Data_is'][df['Data_is'].iloc[:, 2].isin(per_li)]
#                 if len(df5) > 1:
#                     df5 = df['Data_is'][df['Data_is'].iloc[:, 2].isin(per_li)]
#             elif len(df5) == 0:
#                 df5 = df['Data_is'][df['Data_is'].iloc[:, 2].str.contains('주당순이익').fillna(False)]
#                 if len(df5) > 1:
#                     df5 = df['Data_is'][df['Data_is'].iloc[:, 2].isin(per_li)]
#                     if len(df5) > 1 and f == 'LG.xlsx':
#                         df5 = df5.drop(df5.index[1])
#                 else:
#                     df5 = df['Data_is'][df['Data_is'].iloc[:, 2].isin(per_li)]
                        
      
            
#             df5 = df['Data_cis'][df['Data_cis'].iloc[:, 2].str.contains('주당이익').fillna(False)]
#             if len(df5) > 1:
#                 df5 = df['Data_cis'][df['Data_cis'].iloc[:, 2].isin(per_li)]
#                 if len(df5) > 1:
#                     df5 = df['Data_cis'][df['Data_cis'].iloc[:, 2].isin(per_li)]
#             elif len(df5) == 0:
#                 df5 = df['Data_cis'][df['Data_cis'].iloc[:, 2].str.contains('주당순이익').fillna(False)]       
#                 if len(df5) > 1:
#                     df5 = df['Data_cis'][df['Data_cis'].iloc[:, 2].isin(per_li)]
#                 elif len(df5) == 0:
#                     df5 = df['Data_cis'][df['Data_cis'].iloc[:, 2].str.contains('주당손익').fillna(False)]
#                     if len(df5) > 1:
#                         df5 = df['Data_cis'][df['Data_cis'].iloc[:, 2].isin(per_li)]

In [ ]:
# 자본총계, 자산총계, 당기순이익, 매출총이익
if df['Data_bs'].iloc[:, 1][0] == "label_ko":
        name_pos = 1
        df1 = df['Data_bs'][df['Data_bs'].iloc[:, 1] == '자본총계']
    else:
        name_pos = 2
        df1 = df['Data_bs'][df['Data_bs'].iloc[:, 2] == '자본총계']
        
    if df['Data_bs'].iloc[:, 1][0] == "label_ko":
        df2 = df['Data_bs'][df['Data_bs'].iloc[:, 1] == '자산총계']
    else:
        df2 = df['Data_bs'][df['Data_bs'].iloc[:, 2] == '자산총계']
        
    if df['Data_cis'].iloc[:, 1][0] == "label_ko":
        df3 = df['Data_cis'][df['Data_cis'].iloc[:, 1].str.contains('당기순이익').fillna(False)]
        
    else:
        df3 = df['Data_cis'][df['Data_cis'].iloc[:, 2].str.contains('당기순이익').fillna(False)]
        if len(df3) > 1:
            df3 = df['Data_cis'][df['Data_cis'].iloc[:, 2].isin(['당기순이익(손실)', '당기순이익'])]
        if len(df3.values) == 0:
            df3 = df['Data_cis'][df['Data_cis'].iloc[:, 2].isin(['당기순손익', '당기순손실', '당기의 순이익'])]
            if len(df3.values) == 0:
                df3 = df['Data_cf'][df['Data_cf'].iloc[:, 2].isin(['당기순이익(손실)'])]
                if len(df3.values) == 0:
                    df3 = df['Data_cis'][df['Data_cis'].iloc[:, 2].str.contains('당기손익').fillna(False)]
        if len(df3) > 1:
            df3 = df3.drop(df3.index[1])
            
    if df['Data_cis'].iloc[:, 1][0] == "label_ko":
        if 'Data_is' in df.keys():
            df4 = df['Data_is'][df['Data_is'].iloc[:, 1].str.contains('매출총이익').fillna(False)]
        else:
            df4 = df['Data_cis'][df['Data_cis'].iloc[:, 1].str.contains('매출총이익').fillna(False)]
            if len(df4) == 0:
                df4 = df['Data_cis'][df['Data_cis'].iloc[:, 1].str.contains('영업이익').fillna(False)]
    else:
        if 'Data_is' in df.keys():
            df4 = df['Data_is'][df['Data_is'].iloc[:, 2].str.contains('매출총이익').fillna(False)]
            if len(df4) == 0:
                df4 = df['Data_is'][df['Data_is'].iloc[:, 2].str.contains('영업이익').fillna(False)]
        else:
            df4 = df['Data_cis'][df['Data_cis'].iloc[:, 2].str.contains('매출총이익').fillna(False)]
            if len(df4) == 0:
                df4 = df['Data_cis'][df['Data_cis'].iloc[:, 2].str.contains('영업이익').fillna(False)]
                if len(df4) > 1:
                    df4 = df['Data_cis'][df['Data_cis'].iloc[:, 2].isin(['영업이익', '영업이익(손실)'])]

In [285]:
df['Data_cis'].iloc[:, 2]

0                               label_ko
1                                    NaN
2                                수익(매출액)
3                                   매출원가
4                                  매출총이익
5                                판매비와관리비
6                               영업이익(손실)
7                                  지분법손실
8                                   금융수익
9                                   금융비용
10                               기타영업외수익
11                               기타영업외비용
12                       법인세비용차감전순이익(손실)
13                                 법인세비용
14                            계속영업이익(손실)
15                            중단영업이익(손실)
16                            계속영업이익(손실)
17                            중단영업이익(손실)
18            지배기업의 소유주에게 귀속되는 당기순이익(손실)
19                 비지배지분에 귀속되는 당기순이익(손실)
20                                기타포괄손익
21           당기손익으로 재분류되지 않는항목(세후기타포괄손익)
22                     자산재평가손익(세후기타포괄손익)
23               확정급여제도의 재측정손익(세후기타포괄손익)
24         당기손익으로 재분류될 수 있는 항목(세후기타포괄손익)
25    기타포괄손익-공정가치 측정 금융자산 평가손익(세후기타포괄손익)
26                                 총포괄손익
27                            계속영업이익(손실)
28                            중단영업이익(손실)
29           총 포괄손익, 지배기업의 소유주에게 귀속되는 지분
30                         총 포괄손익, 비지배지분
31                     계속영업기본및희석주당이익(손실)
32                     중단영업기본및희석주당이익(손실)
Name: Unnamed: 2, dtype: object

Empty DataFrame
Columns: [Unnamed: 0, [D431410] Statement of comprehensive income, by function of expense - Consolidated financial statements (Unit: KRW), Unnamed: 2, Unnamed: 3, Unnamed: 4, Unnamed: 5, Unnamed: 6, Unnamed: 7, 20180101-20181231, 20170101-20171231]
Index: []

In [ ]:
per_li = ['기본주당이익', '기본주당이익(손실)', '계속영업 보통주 기본 및 희석주당이익', '계속영업기본주당이익(손실)', '기본및희석주당순이익(손실)', '기본 및 희석 보통주당이익' \
            ,'계속영업 기본주당이익(손실)', '계속영업기본주당이익', '보통주 기본주당이익', '기본/희석주당순이익', '보통주기본주당순이익', '계속영업 기본및희석주당순이익(손실)' \
            , '기본주당이익', '기본주당이익(손실)', '계속영업 보통주 기본 및 희석주당이익', '계속영업기본주당이익(손실)', '기본및희석주당순이익(손실)', '기본 및 희석 보통주당이익' \
            ,'보통주 기본 및 희석주당계속영업손실', '기본주당이익', '기본주당이익(손실)', '보통주 기본주당순이익', '지배기업소유주 기본 주당이익', '기본및희석주당이익' \
            ,'계속영업기본및희석주당이익(손실)', '계속영업주당순이익(손실)', '보통주 기본 및 희석주당손익', '보통주 기본 및 희석주당이익(손실)', '기본 주당순이익' \
            ,'기본 및 희석주당이익(손실)', '기본주당순이익(손실)', '보통주 기본주당손익', '계속사업보통주기본주당순이익(손실)', '기본주당손익', '기본 및 희석주당손익' \
            ,'기본주당순이익', '기본 및 희석보통주당이익', '기본주당순손실', '계속사업 기본 및 희석주당이익(손실)', '기본주당분기순이익(손실)', '기본주당계속영업손실' \
            ,'기본보통주당이익(손실)', '기본 및 희석 주당 계속영업이익(손실)', '계속영업 기본 및 희석 주당이익(손실)', '기본및희석주당순이익_계속영업', '1.기본주당이익(손실)' \
            ,'기본주당손실', '기본 및 희석 주당순손실'
    
         ]

In [461]:


for i, f in enumerate(file_list[:1]):
    df = pd.read_excel(f"./fsdata/{f}", sheet_name=None)
    
    if df['Data_cis'].iloc[:, 1][0] == "label_ko":
        label_col = 1
    else:
        label_col = 2

    if 'Data_is' in df.keys():
        sheet_name = 'Data_is'
    else:
        sheet_name = 'Data_cis'
           
    df1 = df['Data_bs'][df['Data_bs'].iloc[:, label_col] == '자본총계']
    df2 = df['Data_bs'][df['Data_bs'].iloc[:, label_col] == '자산총계']
    
    
    df3 = df['Data_cis'][df['Data_cis'].iloc[:, label_col].str.contains('당기순이익').fillna(False)]
    if len(df3) > 1:
        df3 = df['Data_cis'][df['Data_cis'].iloc[:, label_col].isin(['당기순이익(손실)', '당기순이익', '당기순손익', '당기순손실'])]
        if len(df3) == 0:
            df3 = df['Data_cf'][df['Data_cf'].iloc[:, label_col].isin(['당기순이익(손실)'])]
    elif len(df3) == 0:
        df3 = df['Data_cis'][df['Data_cis'].iloc[:, label_col].isin(['당기순손익', '당기순손실', '당기의 순이익', '계속영업이익(손실)'])]
        if len(df3) == 0:
            df3 = df['Data_cis'][df['Data_cis'].iloc[:, label_col].str.contains('당기손익').fillna(False)]
    if len(df3) > 1:
        df3 = df3[df3.isna().sum(axis = 1) == df3.isna().sum(axis = 1).min()]
        
    df4 = df[sheet_name][df[sheet_name].iloc[:, label_col].str.contains('매출총이익').fillna(False)]
    if len(df4) == 0:
        df4 = df[sheet_name][df[sheet_name].iloc[:, label_col].str.contains('영업이익').fillna(False)]
        if len(df4) > 1:
            df4 = df[sheet_name][df[sheet_name].iloc[:, label_col].isin(['영업이익', '영업이익(손실)'])]
              
                
    df5 = df[sheet_name][df[sheet_name].iloc[:, label_col].str.contains('주당이익').fillna(False)]
    df5 =
    if len(df5) > 1:
        df5 = df[sheet_name][df[sheet_name].iloc[:, label_col].isin(per_li)]
    elif len(df5) == 0:
        df5 = df[sheet_name][df[sheet_name].iloc[:, label_col].str.contains('주당순이익').fillna(False)]       
        if len(df5) > 1:
            df5 = df[sheet_name][df[sheet_name].iloc[:, label_col].isin(per_li)]
        elif len(df5) == 0:
            df5 = df[sheet_name][df[sheet_name].iloc[:, label_col].str.contains('주당손익').fillna(False)]
            if len(df5) > 1:
                df5 = df[sheet_name][df[sheet_name].iloc[:, label_col].isin(per_li)]
            else:
                df5 = df[sheet_name][df[sheet_name].iloc[:, label_col].isin(per_li)]
    if len(df5) == 2:
        df5 = df5[df5.isna().sum(axis = 1) == df5.isna().sum(axis = 1).min()]
    print(df5)       
    if len(df5) != 1:
        li = []
        for i in range(df5.shape[1]):
            li.append(np.nan)
        df5.loc[1] = li
    
    df1 = concat_df(df1, '자본총계', label_col)
    df2 = concat_df(df2, '자산총계', label_col)
    df3 = concat_df(df3, '당기순이익', label_col)
    df4 = concat_df(df4, '매출총이익', label_col)
    df5 = concat_df(df5, '주당이익', label_col)
    con_df = pd.concat([df1, df2, df3, df4, df5])
    # print(i, f, len(df1), len(df2), len(df3), len(df4), len(df5))
#     if len(df3) != 1:
#         print(i, f, len(df3))

    Unnamed: 0 Statement of comprehensive income(Unit: KWR) Unnamed: 2  \
45        43.0                                     XVI.주당이익        NaN

   20200101-20201231 20190101-20191231 20180101-20181231 20170101-20171231  \
45               NaN               NaN               NaN               NaN

   20160101-20161231 20150101-20151231 20140101-20141231 20130101-20131231  \
45               NaN               NaN               NaN               NaN

   20120101-20121231 20110101-20111231
45               NaN               NaN
    Unnamed: 0  \
30        28.0

   [D431410] Statement of comprehensive income, by function of expense - Consolidated financial statements (Unit: KRW)  \
30  ifrs-full_BasicEarningsLossPerShareFromContinu...

     Unnamed: 2                                         Unnamed: 3  \
30  보통주 기본주당순이익  Basic earnings (loss) per share from continuin...

            Unnamed: 4       Unnamed: 5  Unnamed: 6   Unnamed: 7  \
30  포괄손익계산서 [abstract]  주당이익 [abstract]  기본주당이익(손실)  보통주 기본주당순이익

   20200101-20201231 20190101-20191231 20180101-20181231 20170101-20171231  \
30             21904             33265             10891              7414

   20160101-20161231 20150101-20151231 20140101-20141231 20130101-20131231  \
30             20995             15770             22819             24697

   20120101-20121231 20110101-20111231 20100101-20101231
30             39163             42935             34306

In [462]:
con_df

,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009
name,,,,,,,,,,,,
자본총계,452668025243,434327453651,407403446983,399338246383,393851102985,378117332074,365429628226,347934102717,333347838071,308809429007,282760846548,259773245337
자산총계,679134863796,693882852856,738431267101,745823200349,733018517741,691464608847,608388100986,525157537563,505456934059,477929171533,410071381759,363173650766
당기순이익,18285121577,27788949736,9092446196,6190456821,17543266261,13158136978,19050210474,15514678383,24650593688,27006653922,21616816821,NaN
매출총이익,68752583286,69419560942,73823175539,69367589770,67513620002,71084009222,74076766980,73498210410,80736775078,80984055596,74670335686,NaN
주당이익,21904,33265,10891,7414,20995,15770,22819,24697,39163,42935,34306,NaN

In [452]:
def concat_df(df, name, name_pos):
    col_list = []
    for i, col in enumerate(df.columns):
        try:
            int(col[:8])
            col_list.append(i)
        except:
            pass

    nm_df = df.iloc[:, name_pos]
    ye_df =  df.iloc[:, col_list]
    con_df = pd.concat([nm_df, ye_df], axis=1)
    filter_col = ['name']
    for col in con_df.columns[1:]:
        filter_col.append(col[:4])
    
    con_df.columns = filter_col
    con_df.name.iloc[0] = name
    con_df.set_index('name', inplace=True)
    return con_df

In [388]:
df1

   name         2018          2017        2016
1  자본총계  35825802786  -28004954084  1723380380

,name,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010
1,당기순이익,18285121577,27788949736,9092446196,6190456821,17543266261,13158136978,19050210474,15514678383,24650593688,27006653922,21616816821

In [144]:
con_df

,name,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010
1,당기순이익,18285121577,27788949736,9092446196,6190456821,17543266261,13158136978,19050210474,15514678383,24650593688,27006653922,21616816821

In [22]:
merge_df = pd.merge(df1,df2, how='outer')
merge_df = pd.merge(merge_df, df3, how='outer')
merge_df

,Unnamed: 0,"[D210000] Statement of financial position, current/non-current - Consolidated financial statements (Unit: KRW)",Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,20201231,...,20190101-20191231,20180101-20181231,20170101-20171231,20160101-20161231,20150101-20151231,20140101-20141231,20130101-20131231,20120101-20121231,20110101-20111231,20100101-20101231
0,50.0,ifrs-full_Equity,자본총계,Total equity,재무상태표 [abstract],자본 [abstract],자본총계,NaN,NaN,4.526680e+11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,18.0,ifrs-full_Assets,자산총계,Total assets,재무상태표 [abstract],자산 [abstract],자산총계,NaN,NaN,6.791349e+11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,14.0,NaN,당기순이익(손실),Profit (loss),포괄손익계산서 [abstract],당기순이익(손실),NaN,NaN,NaN,NaN,...,27788949736,9092446196,6190456821,17543266261,13158136978,19050210474,15514678383,24650593688,27006653922,21616816821

In [179]:
df['Data_bs'].columns.str.contains('Unnamed')

array([ True, False,  True, False, False, False, False, False, False,
       False, False, False, False, False])

In [176]:
df = pd.read_excel('./fsdata/BNK금융지주.xlsx', sheet_name=None)
col_list = []
for col in df['Data_bs'].columns.to_list():
    if col[:7] == 'Unnamed':
        col_list ==

Unnamed: 0
Statement of financial position(Unit: KWR)
Unnamed: 2
20201231
20191231
20181231
20171231
20161231
20151231
20141231
20131231
20121231
20111231
20101231

In [103]:
# is가 없는 경우
df['Data_bs'][df['Data_bs']['Statement of financial position(Unit: KWR)'] == '자본총계']
df['Data_bs'][df['Data_bs']['Statement of financial position(Unit: KWR)'] == '자산총계']
df['Data_cis'][df['Data_cis']['Statement of comprehensive income(Unit: KWR)'].str.contains('당기순이익').fillna(False)]
a = df['Data_cis'][df['Data_cis']['Statement of comprehensive income(Unit: KWR)'].str.contains('주당').fillna(False)]
a[a['Statement of comprehensive income(Unit: KWR)'].str.contains('기본')]
df['Data_cis'][df['Data_cis']['Statement of comprehensive income(Unit: KWR)'] == '매출총이익']

Empty DataFrame
Columns: [Unnamed: 0, Statement of comprehensive income(Unit: KWR), Unnamed: 2, 20200101-20201231, 20190101-20191231, 20180101-20181231, 20170101-20171231, 20160101-20161231, 20150101-20151231, 20140101-20141231, 20130101-20131231, 20120101-20121231, 20110101-20111231]
Index: []

In [100]:
# is가 있는경우
df1 = df['Data_bs'][df['Data_bs']['Unnamed: 2'] == '자본총계']
df2 = df['Data_bs'][df['Data_bs']['Unnamed: 2'] == '자산총계']
df3 = df['Data_cis'][df['Data_cis']['Unnamed: 2'].str.contains('당기순이익').fillna(False)]
df4 = df['Data_is'][df['Data_is']['Unnamed: 2'].str.contains('기본주당이익').fillna(False)]
df5 = df['Data_is'][df['Data_is']['Unnamed: 2'] == '매출총이익']

KeyError: 'Data_is'

['BNK금융지주.xlsx',
 'BYC.xlsx',
 'DB하이텍.xlsx',
 'DL.xlsx',
 'DSR.xlsx',
 'E1.xlsx',
 'ESR켄달스퀘어리츠.xlsx',
 'ES큐브.xlsx',
 'GS.xlsx',
 'GS건설.xlsx',
 'HDC.xlsx',
 'HDC현대산업개발.xlsx',
 'HJ중공업.xlsx',
 'JW생명과학.xlsx',
 'JW중외제약.xlsx',
 'JW홀딩스.xlsx',
 'KB오토시스.xlsx',
 'KD.xlsx',
 'KG동부제철.xlsx',
 'KG케미칼.xlsx',
 'KH 필룩스.xlsx',
 'KISCO홀딩스.xlsx',
 'KPX케미칼.xlsx',
 'KPX홀딩스.xlsx',
 'KR모터스.xlsx',
 'LF.xlsx',
 'LG.xlsx',
 'LG디스플레이.xlsx',
 'LG생활건강.xlsx',
 'LG에너지솔루션.xlsx',
 'LG유플러스.xlsx',
 'LG이노텍.xlsx',
 'LG전자.xlsx',
 'LG화학.xlsx',
 'LIG넥스원.xlsx',
 'LS.xlsx',
 'LS네트웍스.xlsx',
 'LX인터내셔널.xlsx',
 'MH에탄올.xlsx',
 'NAVER.xlsx',
 'NICE.xlsx',
 'OCI.xlsx',
 'S-Oil.xlsx',
 'SBI핀테크솔루션즈.xlsx',
 'SGC에너지.xlsx',
 'SG글로벌.xlsx',
 'SH에너지화학.xlsx',
 'SIMPAC.xlsx',
 'SK.xlsx',
 'SKC.xlsx',
 'SK가스.xlsx',
 'SK네트웍스.xlsx',
 'SK디앤디.xlsx',
 'SK리츠.xlsx',
 'SK이노베이션.xlsx',
 'SK케미칼.xlsx',
 'SK텔레콤.xlsx',
 'SNT모티브.xlsx',
 'SNT에너지.xlsx',
 'SNT중공업.xlsx',
 'SNT홀딩스.xlsx',
 'SPC삼립.xlsx',
 'STX.xlsx',
 'STX엔진.xlsx',
 'STX중공업.xlsx',
 'SUN&L.xlsx',
 'TCC스틸.xlsx',
 'WISCOM.xlsx',
 '~$DB하이텍.xlsx',
 '가비아.xlsx',
 '가온미디어.xlsx',
 '가온전선.xlsx',
 '감성코퍼레이션.xlsx',
 '강남제비스코.xlsx',
 '강스템바이오텍.xlsx',
 '강원랜드.xlsx',
 '강원에너지.xlsx',
 '갤럭시아머니트리.xlsx',
 '갤럭시아에스엠.xlsx',
 '경농.xlsx',
 '경동나비엔.xlsx',
 '경동도시가스.xlsx',
 '경동인베스트.xlsx',
 '경동제약.xlsx',
 '경방.xlsx',
 '경인양행.xlsx',
 '경창산업.xlsx',
 '계양전기.xlsx',
 '고려신용정보.xlsx',
 '고려아연.xlsx',
 '고려제강.xlsx',
 '고바이오랩.xlsx',
 '골드앤에스.xlsx',
 '골드퍼시픽.xlsx',
 '골프존.xlsx',
 '골프존뉴딘홀딩스.xlsx',
 '샘표.xlsx',
 '샘표식품.xlsx',
 '서린바이오.xlsx',
 '서부T&D.xlsx',
 '서산.xlsx',
 '서연.xlsx',
 '서연이화.xlsx',
 '서연탑메탈.xlsx',
 '서울리거.xlsx',
 '서울바이오시스.xlsx',
 '서울반도체.xlsx',
 '서울옥션.xlsx',
 '서원인텍.xlsx',
 '서전기전.xlsx',
 '서진시스템.xlsx',
 '서플러스글로벌.xlsx',
 '서호전기.xlsx',
 '서흥.xlsx',
 '서희건설.xlsx',
 '석경에이티.xlsx',
 '선도전기.xlsx',
 '선익시스템.xlsx',
 '선진뷰티사이언스.xlsx',
 '성광벤드.xlsx',
 '성도이엔지.xlsx',
 '성문전자.xlsx',
 '성보화학.xlsx',
 '성신양회.xlsx',
 '성우테크론.xlsx',
 '성우하이텍.xlsx',
 '성창기업지주.xlsx',
 '성창오토텍.xlsx',
 '세경하이테크.xlsx',
 '세기상사.xlsx',
 '세동.xlsx',
 '세방.xlsx',
 '세방전지.xlsx',
 '세보엠이씨.xlsx',
 '세아베스틸.xlsx',
 '세아제강지주.xlsx',
 '세아특수강.xlsx',
 '세아홀딩스.xlsx',
 '세영디앤씨.xlsx',
 '세우글로벌.xlsx',
 '세운메디칼.xlsx',
 '세원이앤씨.xlsx',
 '세이브존I&C.xlsx',
 '세종공업.xlsx',
 '세종메디칼.xlsx',
 '세종텔레콤.xlsx',
 '세진중공업.xlsx',
 '세진티에스.xlsx',
 '세코닉스.xlsx',
 '세틀뱅크.xlsx',
 '센트랄모텍.xlsx',
 '센트럴인사이트.xlsx',
 '셀루메드.xlsx',
 '셀리버리.xlsx',
 '셀바스AI.xlsx',
 '셀바스헬스케어.xlsx',
 '셀트리온제약.xlsx',
 '셀트리온헬스케어.xlsx',
 '소프트센.xlsx',
 '손오공.xlsx',
 '솔고바이오.xlsx',
 '솔루스첨단소재.xlsx',
 '솔루에타.xlsx',
 '솔루엠.xlsx',
 '솔본.xlsx',
 '솔브레인.xlsx',
 '솔브레인홀딩스.xlsx',
 '솔트룩스.xlsx',
 '수산아이앤티.xlsx',
 '수산중공업.xlsx',
 '수성이노베이션.xlsx',
 '수젠텍.xlsx',
 '슈프리마.xlsx',
 '슈프리마아이디.xlsx',
 '슈프리마에이치큐.xlsx',
 '슈피겐코리아.xlsx',
 '스카이문스테크놀로지.xlsx',
 '스킨앤스킨.xlsx',
 '스타플렉스.xlsx',
 '스튜디오드래곤.xlsx',
 '스튜디오산타클로스.xlsx',
 '스페코.xlsx',
 '스포츠서울.xlsx',
 '시공테크.xlsx',
 '시그네틱스.xlsx',
 '시너지이노베이션.xlsx',
 '시노펙스.xlsx',
 '시디즈.xlsx',
 '시스웍.xlsx',
 '시큐브.xlsx',
 '시티랩스.xlsx',
 '신대양제지.xlsx',
 '신도기연.xlsx',
 '신도리코.xlsx',
 '신라교역.xlsx']

In [116]:
df['Data_bs']

,Unnamed: 0,Statement of financial position(Unit: KWR),Unnamed: 2,20201231,20191231,20181231,20171231,20161231,20151231,20141231,20131231,20121231,20111231,20101231
0,NaN,label_ko,comment,"('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)"
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.0,자산,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,Ⅰ.현금및예치금,"4,6,7,42",4505069358326,4148498467383,3212849112911,3142147320394,3414050510649,3091259795281,3206316978580,1860886039971,2143271973711,2595546725278,1238488915665
4,2.0,당기손익-공정가치금융자산Ⅱ.,"4,6,8,11",4583426737721,3839224185960,3471852651980,1400099999335,1668566686612,1011442821218,885064112441,666354861001,808416922350,374800493947,341973246440
5,3.0,Ⅲ.기타포괄손익-공정가치금융자산,"4,6,9,13",5349829928874,5267069504119,5030991797403,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,4.0,Ⅳ.상각후원가금융자산,"4,6,10,13",7877346757473,7534761068932,6798768263498,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,5.0,Ⅴ.대출채권및수취채권,"4,6,12,13,14",87700653946477,80657226038779,77629806596567,75291882068200,74087010344356,72057993312851,66555893244087,36200193891753,32201826417135,28737076851970,22961708496817
8,6.0,Ⅵ.파생상품자산,"4,6,15",79026047775,35960022003,30362048153,79604560012,157203376708,177928413220,338510567656,120020911144,101449091701,149075590873,193762024652
9,7.0,Ⅶ.관계기업및공동기업투자,16,664431513663,551107730508,465098934825,62997721427,32350879977,34951476778,NaN,NaN,NaN,NaN,NaN
10,8.0,Ⅷ.유형자산,17,1172674858379,977628442590,887544787397,855644312783,801044562958,795929110164,793389725103,508722105985,416435557727,412636877446,318804400501
11,9.0,Ⅸ.무형자산,18,278636192250,266377000516,271651743189,312768959746,324939472089,367601785509,412219415666,134892639539,122054869082,24101550319,10684058961
12,10.0,Ⅹ.투자부동산,19,665348439537,224182444636,198172847593,186415376259,137814307269,132409739983,133508413565,87890074218,75235207341,47962385458,40651517142
13,11.0,XI.기타자산,20,1280427176455,1036736150377,796483173105,523436383208,490231456109,473225402072,383866210004,159835110840,92560194078,52658019188,9040164817
14,12.0,자산총계,NaN,114156870956930,104538771055803,98793581956621,94349977199141,93482189322407,90279548107075,84050063926700,46916890811024,43163255892267,39358672617650,30705550891331
15,13.0,부채,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,14.0,Ⅰ.예수부채,"4,6,21",83032717118383,76609539623822,73380109621954,69824591903980,67604391266663,64361451158459,59906495454005,31058903803104,28602191843523,24991337377268,18665284823975
17,15.0,Ⅱ.차입부채,"4,6,22",6835742647335,5079228446914,5615888697396,5116421496416,6332707672452,6025842385424,6664307425428,4391127175771,4428156539259,4638062089721,3787359926404
18,16.0,Ⅲ.사채,"4,6,23",11247989728869,10185756051489,8590658437502,8807407756997,8781597538084,8152822161590,7299509154641,4740193120195,4128490838398,3618063356194,2646260680339
19,17.0,Ⅳ.파생상품부채,"4,6,15",64541995345,42539813562,57274764803,115822808698,156714181965,170331267224,290544299745,90218613268,73310282308,82827935548,132227275645
20,18.0,Ⅴ.순확정급여부채,24,57462113662,84535619130,71999932383,31729109541,7538020304,23012061193,60430473197,12388251389,1715337415,16574509040,NaN
21,19.0,Ⅵ.충당부채,"25,39",83843529500,45257852938,42656160276,44972787975,108431694771,149008521243,195701320579,32946492830,28899970847,30846417049,19612800766
22,20.0,Ⅶ.당기법인세부채,37,86237630391,103589252746,35069461980,33878940118,81861079405,64066981250,52846362565,20433956378,37864295761,71540955922,69232029341
23,21.0,Ⅷ.이연법인세부채,37,27030432654,61435444430,47087687019,20976941795,37879396951,75473596589,48337434682,77206704645,53398467646,31464881226,6695122827
24,22.0,Ⅸ.기타부채,"4,6,26",3095023379665,3145718532006,2527875309951,2698155958136,3283915640637,5066857352224,4067948107598,2892607827387,2547669906897,2923007767382,3195069946108
25,23.0,부채총계,NaN,104530588575804,95357600637037,90368620073264,86693957703656,86395036491232,84088865485196,78586120032440,43316025944967,39901697482054,36403725289350,28521742605405
26,24.0,자본,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,25.0,Ⅰ.지배기업소유주에게귀속되는자본,NaN,8728825001126,8283713038766,7626978183436,7057560777912,6782618382474,5886216134196,4765683316153,3501013866057,3261558410213,2954947328300,2183808285926
28,26.0,1.자본금,27,1629676230000,1629676230000,1629676230000,1629676230000,1629676230000,1279676230000,1171899495000,966899495000,966899495000,966899495000,933418250000
29,27.0,2.신종자본증권,27,827392476500,707874320000,508521371000,259277011000,259277011000,259277011000,NaN,NaN,NaN,NaN,NaN
30,28.0,3.기타불입자본,27,779262415903,786782981343,786782981343,786782981343,789802175625,672809192535,353678831743,47023304997,44751592737,44751592737,-1169555580
31,29.0,4.기타자본구성요소,27,-68531574601,-32524354519,-51005140203,-36056130481,2190823969,23958713189,23363971072,25972578211,29486797712,35982380854,37994870296
32,30.0,5.이익잉여금,27,5561025453324,5191903861942,4753002741296,4417880686050,4101672141880,3650494987472,3216741018338,2461118487849,2220420524764,1907313859709,1213564721210
33,31.0,Ⅱ.비지배지분,NaN,897457380000,897457380000,797983699921,598458717573,304534448701,304466487683,698260578107,99851000000,NaN,NaN,NaN
34,32.0,자본총계,NaN,9626282381126,9181170418766,8424961883357,7656019495485,7087152831175,6190682621879,5463943894260,3600864866057,3261558410213,2954947328300,2183808285926
35,33.0,부채및자본총계,NaN,114156870956930,104538771055803,98793581956621,94349977199141,93482189322407,90279548107075,84050063926700,46916890811024,43163255892267,39358672617650,30705550891331

In [46]:
for f in file_list[:1]:
    print(f)
    df = pd.read_excel(f"./fsdata/{f}", sheet_name=None)
    df1 = df['Data_bs'][df['Data_bs']['Unnamed: 2'] == '자본총계']
    df2 = df['Data_bs'][df['Data_bs']['Unnamed: 2'] == '자산총계']
    df3 = df['Data_cis'][df['Data_cis']['Unnamed: 2'].str.contains('당기순이익').fillna(False)]
    if 'Data_is' in df.keys():
        df4 = df['Data_is'][df['Data_is']['Unnamed: 2'].str.contains('기본주당이익').fillna(False)]
    else:
        df4 = df['Data_cis'][df['Data_cis']['Unnamed: 2'].str.contains('기본주당이익').fillna(False)]
    if 'Data_is' in df.keys():
        df5 = df['Data_is'][df['Data_is']['Unnamed: 2'] == '매출총이익']
    else:
        df5 = df['Data_cis'][df['Data_cis']['Unnamed: 2'] == '매출총이익']
    print(df1, df2, df3)

BNK금융지주.xlsx
Empty DataFrame
Columns: [Unnamed: 0, Statement of financial position(Unit: KWR), Unnamed: 2, 20201231, 20191231, 20181231, 20171231, 20161231, 20151231, 20141231, 20131231, 20121231, 20111231, 20101231]
Index: []

In [42]:
'Data_is' in df.keys()

True

In [40]:
df.keys()

dict_keys(['Data_bs', 'Labels_bs', 'Data_cis', 'Labels_cis', 'Data_cf', 'Labels_cf'])

In [107]:
lambda x: 'a' x